.home-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.home-header a{
    margin-right: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
}

.home-header a:hover{
    text-decoration: underline;
}

.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right .MuiSvgIcon-root{
    margin-right: 20px;
    cursor: pointer;
}

.google-logo{
    width: 340px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

.search-box{
    width: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 20px;
    border-radius: 50px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .78);
    color: gray;
}

.search-box input{
    width: 100%;
    font-size: 18px;
    padding:10px 15px;
    outline: none;
    border: none;
}

.search-btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.search-btn button{
    border: 1px solid rgba(128, 128, 128, 0.158) !important;
    margin: 0 20px;
    padding: 7px 30px !important;
    color: #5f6368 !important;
}